$_main_color: #43297a;
$_title_color: #f73196;
$_main_bg_color: linear-gradient(180deg, #fcd1ea 0%, #ffdab9 100%);

$main-font-family: 'Quicksand', sans-serif;
$title-font-family: 'Fredoka', sans-serif;
$header-font-family: 'Nunito', sans-serif;

$transition-style: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
