$_main_color: #43297a;
$_title_color: #f73196;
$_main_bg_color: linear-gradient(180deg, #fcd1ea 0%, #ffdab9 100%);
// $_header_color: #747bff;
// $_header_accent_color: red;
$main-font-family: 'Quicksand', sans-serif;
$title-font-family: 'Fredoka', sans-serif;
$header-font-family: 'Nunito', sans-serif;
