<section id="about-the-game" class="about-section">
  <div class="container">
    <h2 class="section-title about-title">About the Game</h2>
    <div class="swiper-gallery swiper-about">
      <div class="swiper swiper-about-init">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="about-text-container about-item-first about-item">
              <p class="section-text about-text">
                Candy Blast: Sugar Splash invites you to dive into a world of
                sugary delights where every level is a colorful explosion of
                fun!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-text-container about-item-second about-item">
              <p class="section-text about-text">
                Whether you're looking for a quick break or an extended gaming
                session, Candy Blast: Sugar Splash provides endless
                entertainment with daily rewards and special events to keep you
                engaged.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-text-container about-item-first about-item">
              <p class="section-text about-text">
                This match-3 puzzle game challenges you to swap and match
                candies to clear levels, with each one offering unique obstacles
                and objectives.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-text-container about-item-second about-item">
              <p class="section-text about-text">
                With a cheerful soundtrack and a user-friendly interface, it’s
                perfect for players of all ages.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-text-container about-item-first about-item">
              <p class="section-text about-text">
                Experience vibrant graphics and smooth animations as you journey
                through hundreds of levels, unlocking powerful boosters and
                special combos along the way.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-text-container about-item-second about-item">
              <p class="section-text about-text">
                Start your candy-filled adventure today and see how many levels
                you can conquer!
              </p>
            </div>
          </div>

          ...
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
      </div>
    </div>

    <ul class="about-list">
      <li class="about-item about-item-first">
        <div class="about-text-container">
          <p class="section-text about-text">
            Candy Blast: Sugar Splash invites you to dive into a world of sugary
            delights where every level is a colorful explosion of fun!
          </p>
        </div>
      </li>
      <li class="about-item about-item-second">
        <div class="about-text-container">
          <p class="section-text about-text">
            Whether you're looking for a quick break or an extended gaming
            session, Candy Blast: Sugar Splash provides endless entertainment
            with daily rewards and special events to keep you engaged.
          </p>
        </div>
      </li>
      <li class="about-item about-item-second">
        <div class="about-text-container">
          <p class="section-text about-text">
            This match-3 puzzle game challenges you to swap and match candies to
            clear levels, with each one offering unique obstacles and
            objectives.
          </p>
        </div>
      </li>
      <li class="about-item about-item-first">
        <div class="about-text-container">
          <p class="section-text about-text">
            With a cheerful soundtrack and a user-friendly interface, it’s
            perfect for players of all ages.
          </p>
        </div>
      </li>
      <li class="about-item about-item-first">
        <div class="about-text-container">
          <p class="section-text about-text">
            Experience vibrant graphics and smooth animations as you journey
            through hundreds of levels, unlocking powerful boosters and special
            combos along the way.
          </p>
        </div>
      </li>
      <li class="about-item about-item-second">
        <div class="about-text-container">
          <p class="section-text about-text">
            Start your candy-filled adventure today and see how many levels you
            can conquer!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
