<section id="advantages" class="advantages-section">
  <div class="container">
    <h2 class="section-title">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <picture class="advantage-img">
          <source
            srcset="
              ./images/little-candy/Candy-purple-1x.png 1x,
              ./images/little-candy/Candy-purple-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantage-img"
            src="./images/little-candy/Candy-purple-1x.png"
            alt="purple candy"
          />
        </picture>
        <div class="advantages-text-container">
          <h3 class="advantage-title">Vibrant Graphics</h3>
          <p class="section-text">
            Enjoy eye-catching, colorful candy-themed visuals.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <picture class="advantage-img advantages-item-odd">
          <source
            srcset="
              ./images/little-candy/Candy-red-1x.png 1x,
              ./images/little-candy/Candy-red-2x.png 2x
            "
            type="image/png"
          />

          <img
            class="advantage-img"
            src="./images/little-candy/Candy-red-1x.png"
            alt="purple candy"
          />
        </picture>
        <div class="advantages-text-container">
          <h3 class="advantage-title">Engaging Gameplay</h3>
          <p class="section-text">
            Easy to learn but challenging to master, offering endless
            entertainment.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <picture class="advantage-img">
          <source
            srcset="
              ./images/little-candy/Candy-left-1x.png 1x,
              ./images/little-candy/Candy-left-2x.png 2x
            "
            type="image/png"
          />

          <img
            class="advantage-img"
            src="./images/little-candy/Candy-left-1x.png"
            alt="purple candy"
          />
        </picture>
        <div class="advantages-text-container">
          <h3 class="advantage-title">Special Combos</h3>
          <p class="section-text">
            Create powerful combos and blasts to clear levels more efficiently
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <picture class="advantage-img advantages-item-odd advantage-img-mob">
          <source
            srcset="
              ./images/little-candy/Candy-purple-1x.png 1x,
              ./images/little-candy/Candy-purple-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantage-img"
            src="./images/little-candy/Candy-purple-1x.png"
            alt="purple candy"
          />
        </picture>
        <picture class="advantage-img advantages-item-odd advantage-img-desc">
          <source
            srcset="
              ./images/little-candy/Candy-orange-1x.png 1x,
              ./images/little-candy/Candy-orange-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantage-img"
            src="./images/little-candy/Candy-orange-1x.png"
            alt="purple candy"
          />
        </picture>
        <div class="advantages-text-container">
          <h3 class="advantage-title">Daily Rewards</h3>
          <p class="section-text">
            Log in daily to receive free rewards and bonuses.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <picture class="advantage-img advantage-img-mob">
          <source
            srcset="
              ./images/little-candy/Candy-red-1x.png 1x,
              ./images/little-candy/Candy-red-2x.png 2x
            "
            type="image/png"
          />

          <img
            class="advantage-img"
            src="./images/little-candy/Candy-red-1x.png"
            alt="purple candy"
          />
        </picture>
        <picture class="advantage-img advantages-item-odd advantage-img-desc">
          <source
            srcset="
              ./images/little-candy/Candy-purple-1x.png 1x,
              ./images/little-candy/Candy-purple-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantage-img"
            src="./images/little-candy/Candy-purple-1x.png"
            alt="purple candy"
          />
        </picture>
        <div class="advantages-text-container">
          <h3 class="advantage-title">Regular Updates</h3>
          <p class="section-text">
            Enjoy new levels and events with frequent updates.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <picture class="advantage-img advantages-item-odd advantage-img-mob">
          <source
            srcset="
              ./images/little-candy/Candy-left-1x.png 1x,
              ./images/little-candy/Candy-left-2x.png 2x
            "
            type="image/png"
          />

          <img
            class="advantage-img"
            src="./images/little-candy/Candy-left-1x.png"
            alt="purple candy"
          />
        </picture>
        <picture class="advantage-img advantages-item-odd advantage-img-desc">
          <source
            srcset="
              ./images/little-candy/Candy-red-1x.png 1x,
              ./images/little-candy/Candy-red-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantage-img"
            src="./images/little-candy/Candy-red-1x.png"
            alt="purple candy"
          />
        </picture>
        <div class="advantages-text-container">
          <h3 class="advantage-title">Social Integration</h3>
          <p class="section-text">
            Compete with friends and share achievements on social media.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <picture class="advantage-img advantage-img-mob">
          <source
            srcset="
              ./images/little-candy/Candy-purple-1x.png 1x,
              ./images/little-candy/Candy-purple-2x.png 2x
            "
            type="image/png"
          />

          <img
            class="advantage-img"
            src="./images/little-candy/Candy-purple-1x.png"
            alt="purple candy"
          />
        </picture>
        <picture class="advantage-img advantages-item-odd advantage-img-desc">
          <source
            srcset="
              ./images/little-candy/Candy-left-1x.png 1x,
              ./images/little-candy/Candy-left-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantage-img"
            src="./images/little-candy/Candy-left-1x.png"
            alt="purple candy"
          />
        </picture>
        <div class="advantages-text-container">
          <h3 class="advantage-title">Free to Play</h3>
          <p class="section-text">
            Download and play for free, with optional in-app purchases
            available.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <picture class="advantage-img advantages-item-odd advantage-img-mob">
          <source
            srcset="
              ./images/little-candy/Candy-red-1x.png 1x,
              ./images/little-candy/Candy-red-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantage-img"
            src="./images/little-candy/Candy-red-1x.png"
            alt="purple candy"
          />
        </picture>
        <picture class="advantage-img advantages-item-odd advantage-img-desc">
          <source
            srcset="
              ./images/little-candy/Candy-orange-1x.png 1x,
              ./images/little-candy/Candy-orange-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantage-img"
            src="./images/little-candy/Candy-orange-1x.png"
            alt="purple candy"
          />
        </picture>
        <div class="advantages-text-container">
          <h3 class="advantage-title">Family-Friendly</h3>
          <p class="section-text">
            Suitable for players of all ages, making it fun for the whole
            family.
          </p>
        </div>
      </li>
    </ul>
    <load ="partials/google-play-link.html" />
  </div>
</section>
