<section>
  <div class="container">
    <h2 class="section-title benefits-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ./images/benefits/Stars-1x.png 1x,
              ./images/benefits/Stars-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            class="benefits-img"
            loading="lazy"
            src="./images/benefits/Stars-1x.png"
            alt="photo desc"
            width="120"
            height="120"
          />
        </picture>
        <h3 class="benefits-title-list">4,8</h3>
        <p class="benefits-article">Stars</p>
      </li>
      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ./images/benefits/Downloads-1x.png 1x,
              ./images/benefits/Downloads-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            class="benefits-img downloads-img"
            loading="lazy"
            src="./images/benefits/Downloads-1x.png"
            alt="photo desc"
            width="120"
            height="120"
          />
        </picture>
        <h3 class="benefits-title-list">50 000 +</h3>
        <p class="benefits-article">Downloads</p>
      </li>
      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ./images/benefits/Reviews-1x.png 1x,
              ./images/benefits/Reviews-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            class="benefits-img"
            loading="lazy"
            src="./images/benefits/Reviews-1x.png"
            alt="photo desc"
            width="120"
            height="120"
          />
        </picture>
        <h3 class="benefits-title-list">1000 +</h3>
        <p class="benefits-article">Reviews</p>
      </li>
      <li class="benefits-item">
        <picture>
          <source
            srcset="
              ./images/benefits/Offline-1x.png 1x,
              ./images/benefits/Offline-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            class="benefits-img"
            loading="lazy"
            src="./images/benefits/Offline-1x.png"
            alt="photo desc"
            width="120"
            height="120"
          />
        </picture>
        <h3 class="benefits-title-list">Online/ Offline</h3>
      </li>
    </ul>
  </div>
</section>
