<section class="section">
  <div class="container">
    <div class="disclaimer-card">
      <div class="disclaimer-img">
        <ul class="candy-list">
          <li class="candy-item">
            <picture>
              <source
                srcset="
                  ./images/little-candy/Candy-red-1x.png 1x,
                  ./images/little-candy/Candy-red-2x.png 2x
                "
                media="(min-width: 320px)"
                type="image/png"
              />
              <img
                class="candy-img"
                loading="lazy"
                src="./images/little-candy/Candy-red-1x.png"
                alt="photo desc"
                width="24"
                height="24"
              />
            </picture>
          </li>
          <li class="candy-item">
            <picture>
              <source
                srcset="
                  ./images/little-candy/Candy-purple-1x.png 1x,
                  ./images/little-candy/Candy-purple-2x.png 2x
                "
                media="(min-width: 320px)"
                type="image/png"
              />
              <img
                loading="lazy"
                src="./images/little-candy/Candy-purple-1x.png"
                alt="photo desc"
                width="32"
                height="32"
              />
            </picture>
          </li>
          <li class="candy-item">
            <picture>
              <source
                srcset="
                  ./images/little-candy/Candy-orange-1x.png 1x,
                  ./images/little-candy/Candy-orange-2x.png 2x
                "
                media="(min-width: 320px)"
                type="image/png"
              />
              <img
                class="candy-img"
                loading="lazy"
                src="./images/little-candy/Candy-orange-1x.png"
                alt="photo desc"
                width="24"
                height="24"
              />
            </picture>
          </li>
        </ul>
        <picture>
          <source
            srcset="./images/mobile-1x.png 1x, ./images/mobile-2x.png 2x"
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            class="disclaimer-mobile"
            loading="lazy"
            src="./images/mobile-1x.png"
            alt="photo desc"
            width="188"
            height="227"
          />
        </picture>
      </div>
      <div class="title-text">
        <h2 class="section-title disclaimer-title">Disclaimer</h2>
        <div class="disclaimer-item">
          <p class="section-text disclaimer-text">
            Playing games should always be a fun and enjoyable experience.
            However, it's important to play responsibly and in moderation.
            Remember to take regular breaks, be mindful of your time, and avoid
            letting gaming interfere with your daily responsibilities or
            well-being. If you find that gaming is negatively affecting your
            life, consider seeking guidance or support. Play wisely, stay
            balanced, and enjoy the game responsibly!
          </p>
          <ul class="candy-list disclaimer-candy-list">
            <li class="candy-item disclaimer-candy-item">
              <picture>
                <source
                  srcset="
                    ./images/little-candy/Candy-purple-1x.png 1x,
                    ./images/little-candy/Candy-purple-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  type="image/png"
                />
                <img
                  loading="lazy"
                  src="./images/little-candy/Candy-purple-1x.png"
                  alt="photo desc"
                  width="32"
                  height="32"
                />
              </picture>
            </li>
            <li class="candy-item disclaimer-candy-item">
              <picture>
                <source
                  srcset="
                    ./images/little-candy/Candy-red-1x.png 1x,
                    ./images/little-candy/Candy-red-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  type="image/png"
                />
                <img
                  class="candy-img"
                  loading="lazy"
                  src="./images/little-candy/Candy-red-1x.png"
                  alt="photo desc"
                  width="24"
                  height="24"
                />
              </picture>
            </li>
            <li class="candy-item disclaimer-candy-item">
              <picture>
                <source
                  srcset="
                    ./images/little-candy/Candy-yellow-1x.png 1x,
                    ./images/little-candy/Candy-yellow-2x.png 2x
                  "
                  media="(min-width: 320px)"
                  type="image/png"
                />
                <img
                  loading="lazy"
                  src="./images/little-candy/Candy-yellow-1x.png"
                  alt="photo desc"
                  width="32"
                  height="32"
                />
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
