<section id="gallery" class="gallery-section">
  <div class="container gallery-container">
    <h2 class="section-title">Gallery</h2>
    <div class="swiper-gallery">
      <div class="swiper swiper-gallery-init">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/01-1x.png 1x,
                  ./images/gallery/01-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/01-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/02-1x.png 1x,
                  ./images/gallery/02-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/02-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/03-1x.png 1x,
                  ./images/gallery/03-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/03-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/4-1x.png 1x,
                  ./images/gallery/4-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/4-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/5-1x.png 1x,
                  ./images/gallery/5-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/5-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/6-1x.png 1x,
                  ./images/gallery/6-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/6-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/7-1x.png 1x,
                  ./images/gallery/7-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/7-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/8-1x.png 1x,
                  ./images/gallery/8-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/8-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="gallery-img">
              <source
                srcset="
                  ./images/gallery/9-1x.png 1x,
                  ./images/gallery/9-1x.png 2x
                "
                type="image/png"
              />
              <img
                class="gallery-img"
                src="./images/gallery/9-1x.png"
                alt="game photo"
              />
            </picture>
          </div>
          ...
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev swiper-btn-prev"></div>
        <div class="swiper-button-next swiper-btn-next"></div>

        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
