<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-item">
      <picture class="hero-candy">
        <source
          srcset="
            ./images/little-candy/Candy-left-1x.png 1x,
            ./images/little-candy/Candy-left-2x.png 2x
          "
          media="(min-width: 320px)"
          type="image/png"
        />
        <img
          loading="lazy"
          src="./images/little-candy/Candy-left-1x.png"
          alt="photo desc"
          width="24"
          height="24"
        />
      </picture>
      <div class="logo-hero">
        <a href="./index.html" target="_self">
          <picture>
            <source
              srcset="images/Logo-1x.png 1x, images/Logo-2x.png 2x"
              type="image/png"
            />
            <img class="logo-hero-img" src="images/Logo-1x.png" alt="Logo" />
          </picture>
          <h1 class="section-title">Candy Blast: Sugar Splash</h1>
        </a>
      </div>
      <p class="section-text hero-text">
        Step into the world of Candy Blast: Sugar Splash and embark on a sweet
        adventure filled with vibrant candies and exciting challenges! Don’t
        wait - download Candy Blast: Sugar Splash today and start your journey
        to sweet victory!
      </p>
      <picture class="hero-candy">
        <source
          srcset="
            ./images/little-candy/Candy-left-1x.png 1x,
            ./images/little-candy/Candy-left-2x.png 2x
          "
          media="(min-width: 320px)"
          type="image/png"
        />
        <img
          loading="lazy"
          src="./images/little-candy/Candy-left-1x.png"
          alt="photo desc"
          width="24"
          height="24"
        />
      </picture>
    </div>
    <div class="hero-link">
      <a
        href="https://play.google.com/store/apps/details?id=com.cookapps.beagles.ng003"
      >
        <picture>
          <source
            srcset="
              ./images/Google-play-1x.png 1x,
              ./images/Google-play-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            class="link-img"
            loading="lazy"
            src="./images/Google-play-1x.png"
            alt="photo desc"
            width="198"
            height="50"
          /> </picture
      ></a>
    </div>
  </div>
</section>
