<section class="how-to-play-section">
  <div class="container">
    <h2 class="section-title">How to Play</h2>
    <ul class="how-to-play-list">
      <li class="how-to-play-item">
        <picture class="how-to-play-img">
          <source
            srcset="
              ./images/little-candy/Candy-purple-mob-1x.png 1x,
              ./images/little-candy/Candy-purple-mob-2x.png 2x
            "
            media="(max-width:1339px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/little-candy/Candy-purple-1x.png 1x,
              ./images/little-candy/Candy-purple-2x.png 2x
            "
            media="(min-width:1440px)"
            type="image/png"
          />
          <img
            src="./images/little-candy/Candy-purple-1x.png"
            alt="purple candy"
          />
        </picture>
        <p class="section-text">
          Swap adjacent candies to create a row or column of three or more
          identical ones.
        </p>
      </li>
      <li class="how-to-play-item">
        <picture class="how-to-play-img">
          <source
            srcset="
              ./images/little-candy/Candy-red-mob-1x.png 1x,
              ./images/little-candy/Candy-red-mob-2x.png 2x
            "
            media="(max-width:1339px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/little-candy/Candy-red-1x.png 1x,
              ./images/little-candy/Candy-red-2x.png 2x
            "
            media="(min-width:1440px)"
            type="image/png"
          />
          <img src="./images/little-candy/Candy-red-1x.png" alt="red candy" />
        </picture>
        <p class="section-text">
          Match four or more candies to create special candies with powerful
          effects.
        </p>
      </li>
      <li class="how-to-play-item">
        <picture class="how-to-play-img">
          <source
            srcset="
              ./images/little-candy/Candy-yellow-mob-1x.png 1x,
              ./images/little-candy/Candy-yellow-mob-2x.png 2x
            "
            media="(max-width:1339px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/little-candy/Candy-yellow-1x.png 1x,
              ./images/little-candy/Candy-yellow-2x.png 2x
            "
            media="(min-width:1440px)"
            type="image/png"
          />
          <img
            src="./images/little-candy/Candy-yellow-1x.png"
            alt="yellow candy"
          />
        </picture>
        <p class="section-text">
          Remove obstacles like jelly, chocolate, and more by matching nearby
          candies.
        </p>
      </li>
      <li class="how-to-play-item">
        <picture class="how-to-play-img">
          <source
            srcset="
              ./images/little-candy/Candy-purple-mob-1x.png 1x,
              ./images/little-candy/Candy-purple-mob-2x.png 2x
            "
            media="(max-width:1339px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/little-candy/Candy-purple-1x.png 1x,
              ./images/little-candy/Candy-purple-2x.png 2x
            "
            media="(min-width:1440px)"
            type="image/png"
          />
          <img
            src="./images/little-candy/Candy-purple-1x.png"
            alt="purple candy"
          />
        </picture>
        <p class="section-text">
          Complete levels by collecting specific candy types or achieving score
          targets.
        </p>
      </li>
      <li class="how-to-play-item">
        <picture class="how-to-play-img">
          <source
            srcset="
              ./images/little-candy/Candy-red-mob-1x.png 1x,
              ./images/little-candy/Candy-red-mob-2x.png 2x
            "
            media="(max-width:1339px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/little-candy/Candy-red-1x.png 1x,
              ./images/little-candy/Candy-red-2x.png 2x
            "
            media="(min-width:1440px)"
            type="image/png"
          />
          <img src="./images/little-candy/Candy-red-1x.png" alt="red candy" />
        </picture>
        <p class="section-text">
          Utilize special boosters to help clear challenging levels.
        </p>
      </li>
      <li class="how-to-play-item">
        <picture class="how-to-play-img">
          <source
            srcset="
              ./images/little-candy/Candy-yellow-mob-1x.png 1x,
              ./images/little-candy/Candy-yellow-mob-2x.png 2x
            "
            media="(max-width:1339px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/little-candy/Candy-yellow-1x.png 1x,
              ./images/little-candy/Candy-yellow-2x.png 2x
            "
            media="(min-width:1440px)"
            type="image/png"
          />
          <img
            src="./images/little-candy/Candy-yellow-1x.png"
            alt="yellow candy"
          />
        </picture>
        <p class="section-text">
          Progress through the map by completing levels and unlocking new
          challenges.
        </p>
      </li>
    </ul>
  </div>
</section>
