<section>
  <div id="modal" class="modal">
    <div class="modal-content">
      <button class="ih-menu-button close-btn">
        <svg class="header-menu close-svg">
          <use href="/images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="">
        <li class="modal-item">
          <a class="modal-nav" href="#benefits">
            <img
              class="modal-img"
              loading="lazy"
              src="./images/little-candy/Candy-purple-1x.png"
              alt="photo desc"
              width="16"
              height="16"
            />
            Benefits
          </a>
        </li>
        <li class="modal-item">
          <a class="modal-nav" href="#about-the-game">
            <img
              class="modal-img"
              loading="lazy"
              src="./images/little-candy/Candy-red-1x.png"
              alt="photo desc"
              width="22"
              height="22"
            />
            About the Game
          </a>
        </li>
        <li class="modal-item">
          <a class="modal-nav" href="#how-to-play">
            <img
              class="modal-img"
              loading="lazy"
              src="./images/little-candy/Candy-purple-1x.png"
              alt="photo desc"
              width="16"
              height="16"
            />
            How to Play
          </a>
        </li>
        <li class="modal-item">
          <a class="modal-nav" class="modal-nav" href="#gallery">
            <img
              class="modal-img"
              loading="lazy"
              src="./images/little-candy/Candy-red-1x.png"
              alt="photo desc"
              width="22"
              height="22"
            />
            Gallery
          </a>
        </li>
        <li class="modal-item">
          <a class="modal-nav" href="#advantages">
            <img
              class="modal-img"
              loading="lazy"
              src="./images/little-candy/Candy-left-1x.png"
              alt="photo desc"
              width="16"
              height="16"
            />
            Advantages
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
