.about-section {
  padding-top: 80px;
}

.about-title {
  width: 152px;
  margin: 0 auto;
}

.about-list {
  display: none;
}

.about-item {
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 256px;
}

.about-item-first {
  background-image: url(../images/about/1.png);
}

.about-item-second {
  background-image: url(../images/about/2.png);
}

.about-text {
  width: 191px;
}

@include media(desktop) {
  .about-section {
    padding-top: 160px;
  }

  .about-title {
    width: 100%;
    margin: 0 auto;
  }

  .swiper-about {
    display: none;
  }

  .about-list {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 32px;
  }

  .about-item {
    height: 344px;
    width: 624px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 624px;
    padding-left: 35px;
    padding-right: 20px;
  }

  .about-item-first {
    background-image: url(../images/about/1.png);
  }

  .about-item-second {
    background-image: url(../images/about/2.png);
  }

  .about-text {
    width: 508px;
  }
}
