.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

body {
  background: $_main_bg_color;
}

.section-title {
  font-family: $title-font-family;
  font-size: 22px;
  text-align: center;
  color: $_title_color;
}

.section-text {
  font-family: $main-font-family;
  font-size: 12px;
  color: $_main_color;
}

@include media(desktop) {
  .container {
    min-width: 1280px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .section-title {
    font-size: 56px;
  }

  .section-text {
    font-size: 32px;
  }
}
