.benefits-title {
  margin-top: 80px;
  line-height: 128%;
  letter-spacing: 0.03em;
}

.benefits-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 16px;
}
.benefits-item {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.benefits-img {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 26px;
}
.downloads-img {
}
.benefits-title-list {
  width: 115px;
  font-size: 16px;
  color: $_title_color;
  text-align: center;
}
.benefits-article {
  font-size: 8px;
  margin-top: 2px;
  text-align: center;
}

@include media(desktop) {
  .benefits-list {
    gap: 32px;
  }
  .benefits-img {
    width: 296px;
    height: 198px;
    margin-top: 32px;
    margin-bottom: 36px;
  }
  .benefits-title-list {
    font-size: 48px;
    width: 296px;
  }
  .benefits-article {
    font-size: 24px;
    margin-top: 18px;
  }
  .benefits-title {
    margin-top: 144px;
  }
}
