.benefits-title {
  margin-top: 80px;
  line-height: 128%;
  letter-spacing: 0.03em;
}

.benefits-list {
  margin-top: 40px;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  gap: 30px 16px;
}
.benefits-item {
  width: 120px;
  height: 166px;
}
.benefits-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 26px;
}
.downloads-img {
}
.benefits-title-list {
  font-size: 16px;
  max-width: 115px;
  color: #f73196;
  font-family: Quicksand;
}
.benefits-article {
  font-size: 8px;
  margin-top: 2px;
}
