.disclaimer-card {
  margin-top: 40px;
}
.disclaimer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 12px;
}
.candy-list {
  margin-top: 38px;
}
.candy-item {
  margin-bottom: 36px;
}
.candy-img {
  width: 32px;
}
.disclaimer-mobile {
  margin-left: 24px;

  transform: rotate(-8deg);
}
.disclaimer-title {
  margin-top: 70px;
  line-height: 128%;
  letter-spacing: 0.03em;
}
.disclaimer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.disclaimer-text {
  width: 188px;
  line-height: 124%;
  letter-spacing: 0.001em;
}
.disclaimer-candy-list {
  margin-left: 24px;
}

@include media(desktop) {
  .disclaimer-card {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
  }
  .disclaimer-img {
    order: 2;
    margin-left: 0;
  }

  .disclaimer-item {
    order: 1;
  }
  .disclaimer-item {
    margin-top: 32px;
  }
  .disclaimer-mobile {
    width: 624px;
    height: 672px;
    transform: rotate(0deg);
    margin-left: 0;
  }
  .disclaimer-text {
    width: 624px;
    text-align: center;
  }
  .candy-list {
    display: none;
  }
  .disclaimer-title {
    margin-top: 66px;
  }
}
