.disclaimer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.candy-list {
  margin-top: 36px;
}
.candy-item {
  margin-bottom: 36px;
}
.candy-img {
  width: 32px;
}
.disclaimer-mobile {
  margin-left: 26px;
  margin-top: 16px;
  transform: rotate(-8deg);
}
.disclaimer-title {
  margin-top: 76px;
  line-height: 128%;
  letter-spacing: 0.03em;
}
.disclaimer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.disclaimer-text {
  width: 188px;
  line-height: 124%;
  letter-spacing: 0.001em;
}
.disclaimer-candy-list {
  margin-left: 28px;
}

@include media(desktop) {
  .disclaimer-mobile {
    width: 624px;
    height: 672px;
  }
  .disclaimer-text {
    width: 624px;
  }
  .candy-list {
    display: none;
  }
}
