.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.logo-footer {
  width: 24px;
  height: 24px;
  border-radius: 8px;
}
.logo {
  display: flex;
}

.logo {
  order: 1;
}
.footer-text-policy {
  order: 3;
}
.privacy {
  order: 2;
}
.logo-text-footer {
  color: $_title_color;
  font-family: Fredoka;
  font-size: 8px;
  font-weight: 600;
  line-height: 9.68px;
  text-align: left;
  width: 52px;
  margin-left: 8px;
  margin-top: 4px;
}
.privacy {
  font-family: Quicksand, sans-serif;
  text-align: right;
  font-size: 6px;

  margin-left: 60px;
  margin-right: 5px;
}
.footer-text-policy {
  font-size: 6px;
  margin-top: 16px;
  margin-left: 70px;
  display: grid;
  place-items: center;
  height: 100%;
  margin-bottom: 16px;
}

@include media(desktop) {
  .footer-text-policy {
    order: 2;
  }
  .privacy {
    order: 3;
  }
  .footer-item {
    margin-bottom: 32px;
  }
  .logo-footer {
    width: 77px;
    height: 77px;
  }
  .logo-text {
    font-size: 16px;
    width: 110px;
    height: 38px;
    margin-left: 40px;
    margin-top: 18px;
    line-height: 16.5px;
  }
  .privacy {
    font-size: 16px;
    margin-top: 0;
    margin-left: 0;
  }
  .footer-text-policy {
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .logo-text-footer {
    font-size: 16px;
    width: 110px;
    line-height: 18.68px;
    margin-top: 20px;
    margin-left: 38px;
  }
}
