.gallery-section {
  margin-top: 40px;
}

.gallery-img {
  border-radius: 8px;
  width: 120px;
  object-fit: cover;
  object-position: center;
}

.swiper-gallery {
  position: relative;
  margin-top: 40px;
}

.swiper-gallery .swiper {
  position: static;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: $_title_color;
  font-size: 24px !important;
  position: absolute;
}

.swiper-button-prev::after {
  right: 50px;
}

.swiper-button-next::after {
  left: 50px;
}

.swiper-pagination-bullet {
  background: $_title_color !important;
}

.swiper-pagination {
  bottom: -30px !important;
}

@include media(desktop) {
  .gallery-section {
    margin-top: 160px;
  }

  .swiper-gallery {
    margin-top: 80px;
  }

  .gallery-img {
    width: 405px;
  }
}
