.link-img {
  width: 198px;
  background-size: auto;
}

.google-link {
  height: 48px;
  // margin-top: 40px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 1px rgba(247, 49, 150, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}
.google-link:hover {
  background-color: rgba(247, 49, 150, 0.3);
}
.google-link:focus {
  background-image: linear-gradient(to right, #ddc0f6 0%, #f73196 100%);
}

@include media(desktop) {
  .google-link {
    max-width: 406px;
    height: 84px;
  }

  .link-img {
    width: 376px;
  }
}
