.ih-menu-nav {
  display: none;
}

.ih-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 46px;
  width: 100%;
}

.ih-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.ih-overlay.is-visible {
  display: block;
}
.logo-text-header {
  display: flex;
  gap: 96px;
}
.logo-header {
  width: 52px;
  height: 52px;
  border-radius: 8px;
}
.logo {
  display: flex;
}
.logo-text-mob {
  color: $_title_color;
  font-family: Fredoka;
  font-size: 8px;
  font-weight: 600;
  line-height: 9.68px;
  text-align: left;
  width: 52px;
  margin-left: 16px;
  margin-top: 16px;
}
.ih-menu-content {
  display: none;
}
.ih-menu-nav {
  display: flex;
  justify-content: center;
  gap: 32px;
  font-size: 24px;
}
.header-menu {
  max-width: 24px;
  max-height: 20px;
  fill: $_title_color;
}
.mob {
  display: flex;
}
.ih-menu-button {
  border: 1px transparent;
  background: transparent;

  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
}

/* Вміст модалки */
.modal-content {
  background-color: white;
  margin: 138px auto;
  padding: 40px 50px;
  border-radius: 8px;
  width: 256px;
  text-align: center;
  position: relative;
}

/* Кнопка закриття */
.close-btn {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 57px;
  right: 20px;
}
.close-svg {
  width: 12px;
  height: 12px;
}

.modal-item:not(:last-child) {
  margin-bottom: 32px;
}

.modal-nav {
  display: flex;
  align-items: center;
  gap: 18px;
  letter-spacing: -0.03em;
}

.modal-nav-text {
  color: #43297a;
}

.modal-nav-text:hover,
.modal-nav-text:active {
  color: #f73196;
}

@include media(desktop) {
  .logo-text-header {
    display: none;
  }
  .logo-header {
    display: none;
  }
  .logo-text {
    display: none;
  }
  .ih-menu-nav {
    display: flex;
  }
  .ih-menu-content {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .ih-menu-button {
    display: none;
  }
  .mob {
    display: none;
  }
  .ih-menu-item {
    width: 187px;
    padding: 22px 0;
    text-align: center;
    letter-spacing: -0.03em;
    color: #43297a;
  }
  .ih-header-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.ih-header {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  z-index: 4;

  top: 0;

  box-shadow: 0 1px 1px 0 rgba(247, 49, 150, 0.1);
  background: #fcd1ea;
}

.menu-link {
  font-weight: normal;
}

.menu-link.active {
  font-weight: bold;
}
