.hero-section {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-container {
}
.logo-hero {
  display: none;
}
.hero-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-candy {
  margin-top: 0;
}
.hero-text {
  width: 152px;
  margin-left: 14px;
  margin-right: 14px;
  line-height: 124%;
  letter-spacing: 0.01em;
}
.hero-link {
  height: 48px;
  margin-top: 40px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 1px rgba(247, 49, 150, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-img {
  width: 198px;
  background-size: auto;
}
@include media(desktop) {
  .hero-container {
    padding-left: 0;
    padding-right: 0;
  }
  .hero-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 170px;
  }
  .logo-hero {
    display: flex;
    padding-left: 60px;
    align-items: center;
    width: 515px;
    margin-top: 24px;
  }
  .logo-hero-img {
    width: 141px;
    height: 141px;
    margin: 0 158px;
  }
  .hero-candy {
    display: none;
  }
  .hero-text {
    width: 624px;
    line-height: 124%;
    letter-spacing: -0.001em;
    text-align: center;
    margin-left: 0;
    margin-right: 30px;
  }
  .hero-link {
    margin: 48px 466px;
    height: 84px;
  }
  .link-img {
    width: 376px;
  }
}
