.hero-section {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-container {
  margin-left: 0;
  margin-right: 0;
}
.logo-hero {
  display: none;
}

.hero-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.hero-candy {
  margin-top: 0;
}
.hero-text {
  width: 152px;
  margin-left: 14px;
  margin-right: 14px;
  line-height: 124%;
  letter-spacing: 0.01em;
}

@include media(desktop) {
  .hero-section {
    margin-top: 64px;
  }

  .hero-container {
    padding-left: 0;
    padding-right: 0;
  }
  .hero-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
  }
  .logo-hero {
    display: flex;
    margin-left: 60px;
    align-items: center;
    width: 462px;
    margin-top: 0;
    padding-top: 16px;
  }

  .logo-hero:hover,
  .logo-hero:active,
  .logo-hero:focus {
    box-shadow: 4px 4px 8px 0 rgba(247, 49, 150, 0.5);
    border-radius: 8px;
  }

  .logo-hero-img {
    width: 141px;
    height: 141px;
    margin: 0 158px;
  }
  .hero-candy {
    display: none;
  }
  .hero-text {
    width: 624px;
    line-height: 124%;
    letter-spacing: -0.001em;
    text-align: center;
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 40px;
    padding-top: 22px;
  }
}
