.introduction-section {
}
.introduction-arrow {
  width: 12px;
  height: 14px;
  fill: $_title_color;
  position: absolute;
  left: 10px;
  position: fixed;
  top: 45px;
  left: 10px;
  z-index: 5;
}
.candy-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
  margin-top: 0;
}

.item-introduction {
  display: none;

  &:nth-child(2),
  &:nth-child(3) {
    display: block;
    margin: 2px 10px 6px;
  }
}
.introduction-text {
  line-height: 126%;
  letter-spacing: 0.001em;
  margin-bottom: 14px;
}
.introduction-title {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 0 44px;
  line-height: 124%;
}

.first-title-introduction {
  margin-bottom: 40px;
}

@include media(desktop) {
  .introduction-arrow {
    width: 26px;
    height: 26px;
    top: 102px;
    left: 102px;
  }
  .introduction-container {
    padding-left: 189px;
    padding-right: 189px;
  }
  .introduction-section {
    margin-top: 0;
  }
  .introduction-title {
    margin-bottom: 80px;
    padding: 0 219px;
    line-height: 120%;
  }
  .first-title-introduction {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .introduction-text {
    line-height: 126%;
    letter-spacing: -0.001em;
    margin-bottom: 14px;
  }
  .item-introduction {
    &:nth-child(3) {
      display: none;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      display: block;
      margin: 30px 64px 58px;
    }
  }
  .introduction-img {
    width: 77px;
  }
  .introduction-text {
    margin-bottom: 38px;
  }
}
