.privacy-section {
  margin-top: 40px;
}

.text-first {
  margin-bottom: 20px;
}

.marketing-section {
  margin-top: 80px;
}

.right-section {
  margin-top: 80px;
}

.right-list {
  margin-top: 16px;
}

.right-item {
  display: flex;
  gap: 16px;
}

.right-title {
  font-family: $title-font-family;
  color: $_main_color;
}
