@import 'node_modules/normalize-scss/sass/normalize/import-now.scss';
@import './base.scss';
@import './header.scss';
@import './hero.scss';
@import './disclaimer.scss';
@import './benefits.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './gallery.scss';
@import './advantages.scss';
@import './footer.scss';
@import './privacy.scss';
@import './introduction.scss';

:root {
  font-family: #{$main-font-family}, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --swiper-theme-color: #f73196 !important;
}
